./data/sra/SRR11539031/SRR11539031.sra
./data/reference/refdata-cellranger-arc-GRCh38-2020-A-2.0.0/fasta/genome.fa.sa
./data/reference/refdata-cellranger-arc-GRCh38-2020-A-2.0.0/fasta/genome.fa.bwt
./data/reference/refdata-cellranger-arc-GRCh38-2020-A-2.0.0/fasta/genome.fa
./data/reference/refdata-cellranger-arc-GRCh38-2020-A-2.0.0/star/SAindex
./data/reference/refdata-cellranger-arc-GRCh38-2020-A-2.0.0/star/SA
./data/reference/refdata-cellranger-arc-GRCh38-2020-A-2.0.0/star/Genome
./data/sra/SRR11539031/SRR11539031.sra
./data/reference/refdata-cellranger-arc-GRCh38-2020-A-2.0.0/regions/transcripts.bed
./data/reference/refdata-cellranger-arc-GRCh38-2020-A-2.0.0/regions/motifs.pfm
./data/reference/refdata-cellranger-arc-GRCh38-2020-A-2.0.0/regions/tss.bed
./data/reference/refdata-cellranger-arc-GRCh38-2020-A-2.0.0/genes/genes.gtf.gz
./data/reference/refdata-cellranger-arc-GRCh38-2020-A-2.0.0/fasta/genome.fa.amb
./data/reference/refdata-cellranger-arc-GRCh38-2020-A-2.0.0/fasta/genome.fa.sa
./data/reference/refdata-cellranger-arc-GRCh38-2020-A-2.0.0/fasta/genome.fa.bwt
./data/reference/refdata-cellranger-arc-GRCh38-2020-A-2.0.0/fasta/hg38.full.blacklist.bed
./data/reference/refdata-cellranger-arc-GRCh38-2020-A-2.0.0/fasta/genome.fa.ann
./data/reference/refdata-cellranger-arc-GRCh38-2020-A-2.0.0/fasta/genome.fa.pac
./data/reference/refdata-cellranger-arc-GRCh38-2020-A-2.0.0/fasta/genome.fa.fai
./data/reference/refdata-cellranger-arc-GRCh38-2020-A-2.0.0/fasta/genome.fa
./data/reference/refdata-cellranger-arc-GRCh38-2020-A-2.0.0/star/sjdbList.fromGTF.out.tab
./data/reference/refdata-cellranger-arc-GRCh38-2020-A-2.0.0/star/exonGeTrInfo.tab
./data/reference/refdata-cellranger-arc-GRCh38-2020-A-2.0.0/star/SAindex
./data/reference/refdata-cellranger-arc-GRCh38-2020-A-2.0.0/star/transcriptInfo.tab
./data/reference/refdata-cellranger-arc-GRCh38-2020-A-2.0.0/star/geneInfo.tab
./data/reference/refdata-cellranger-arc-GRCh38-2020-A-2.0.0/star/sjdbInfo.txt
./data/reference/refdata-cellranger-arc-GRCh38-2020-A-2.0.0/star/SA
./data/reference/refdata-cellranger-arc-GRCh38-2020-A-2.0.0/star/chrStart.txt
./data/reference/refdata-cellranger-arc-GRCh38-2020-A-2.0.0/star/chrName.txt
./data/reference/refdata-cellranger-arc-GRCh38-2020-A-2.0.0/star/chrLength.txt
./data/reference/refdata-cellranger-arc-GRCh38-2020-A-2.0.0/star/sjdbList.out.tab
./data/reference/refdata-cellranger-arc-GRCh38-2020-A-2.0.0/star/Genome
./data/reference/refdata-cellranger-arc-GRCh38-2020-A-2.0.0/star/chrNameLength.txt
./data/reference/refdata-cellranger-arc-GRCh38-2020-A-2.0.0/star/exonInfo.tab
./data/reference/refdata-cellranger-arc-GRCh38-2020-A-2.0.0/reference.json
./.git/hooks/update.sample
./.git/hooks/pre-commit.sample
./.git/hooks/pre-push.sample
./.git/hooks/pre-rebase.sample
./.git/hooks/fsmonitor-watchman.sample
./.git/hooks/prepare-commit-msg.sample
./.git/objects/e1/9a602f3df8919f1b0eeb91de0f5903632db962
./.git/objects/pack/tmp_pack_CayPQf
./.git/objects/pack/tmp_pack_34jHBk
./.git/objects/pack/tmp_pack_7pL1AT
./.git/objects/pack/tmp_pack_8UY4sY
./.git/objects/pack/tmp_pack_5JJyV3
./.git/objects/pack/tmp_pack_zbL9rk
./.git/objects/91/651b02e0e769748e48ae2ed462fd9f60212a2b
./.git/objects/a8/25b8ba27f0a4c1198267205cd2f2308a69c2aa
./.git/objects/0b/439c64b1d9a76ebd1971c68c710186e3a7cbd9
./.git/objects/88/13b96219823794c6c86b913d5bb50a24efd29a
./.git/objects/51/7d94f5f86658e476313121ba4da46e5a89a443
./.git/objects/28/7131e6259cb13bf6a2016abe01c86745c254bb
./.git/objects/2a/5f4597ff8d93481d0fc8c5b7775336d18402e7
./.git/objects/5f/8ca2ee8a03c5a16cb306d41cb8ec58bf071a43
./.git/objects/50/1cb3abd30bd0c95a2a712325349e53dcde8770
./.git/objects/03/b73660aad981c794b9264820b3be47abe376dc
./.git/objects/e5/4e35ec4c0022e7f707a822358ee8e2bb985560
./.git/objects/5b/e83a6d518b0719fb9a9630a6db5161e2b309a1
./.git/objects/29/fd0ec11c88fcdc295f975292411db463dfb9e4
./.git/objects/29/dea8f489ec3b9f39decbd754393e7827aa8b1a
./.git/objects/c1/a33e66e68ad91ca94cdde42b11e8584b01941a
./.git/objects/38/231bdb0492f0ecb5593ca18fbd97989b9f6206
./.git/objects/33/159ba8f627b5a8b681c3bc06cc6be3e61b23e1
./.git/objects/ed/2aedb36e0ee719ad97f9b7df27b9618ff2fd1e
./output/mgatk_out/SRR11539034/qc/depth/barcodes.3.depth.txt
./output/mgatk_out/SRR11539034/qc/depth/barcodes.1.depth.txt
./output/mgatk_out/SRR11539034/qc/depth/barcodes.4.depth.txt
./output/mgatk_out/SRR11539034/qc/depth/barcodes.5.depth.txt
./output/mgatk_out/SRR11539034/qc/depth/barcodes.2.depth.txt
./output/mgatk_out/SRR11539034/final/lib_id.signac.rds
./output/mgatk_out/SRR11539034/final/lib_id.C.txt.gz
./output/mgatk_out/SRR11539034/final/lib_id.A.txt.gz
./output/mgatk_out/SRR11539034/final/lib_id.coverage.txt.gz
./output/mgatk_out/SRR11539034/final/lib_id.rds
./output/mgatk_out/SRR11539034/final/lib_id.G.txt.gz
./output/mgatk_out/SRR11539034/final/lib_id.T.txt.gz
./output/mgatk_out/SRR11539034/final/lib_id.depthTable.txt
./output/mgatk_out/SRR11539034/final/chrM_refAllele.txt
./output/mgatk_out/SRR11539034/logs/lib_id.snakemake_tenx.log
./output/mgatk_out/SRR11539033/qc/depth/barcodes.3.depth.txt
./output/mgatk_out/SRR11539033/qc/depth/barcodes.1.depth.txt
./output/mgatk_out/SRR11539033/qc/depth/barcodes.4.depth.txt
./output/mgatk_out/SRR11539033/qc/depth/barcodes.5.depth.txt
./output/mgatk_out/SRR11539033/qc/depth/barcodes.2.depth.txt
./output/mgatk_out/SRR11539033/final/lib_id.signac.rds
./output/mgatk_out/SRR11539033/final/lib_id.C.txt.gz
./output/mgatk_out/SRR11539033/final/lib_id.A.txt.gz
./output/mgatk_out/SRR11539033/final/lib_id.coverage.txt.gz
./output/mgatk_out/SRR11539033/final/lib_id.rds
./output/mgatk_out/SRR11539033/final/lib_id.G.txt.gz
./output/mgatk_out/SRR11539033/final/lib_id.T.txt.gz
./output/mgatk_out/SRR11539033/final/lib_id.depthTable.txt
./output/mgatk_out/SRR11539033/final/chrM_refAllele.txt
./output/mgatk_out/SRR11539033/logs/lib_id.snakemake_tenx.log
./output/mgatk_out/SRR11539032/qc/depth/barcodes.3.depth.txt
./output/mgatk_out/SRR11539032/qc/depth/barcodes.1.depth.txt
./output/mgatk_out/SRR11539032/qc/depth/barcodes.4.depth.txt
./output/mgatk_out/SRR11539032/qc/depth/barcodes.5.depth.txt
./output/mgatk_out/SRR11539032/qc/depth/barcodes.2.depth.txt
./output/mgatk_out/SRR11539032/final/lib_id.signac.rds
./output/mgatk_out/SRR11539032/final/lib_id.C.txt.gz
./output/mgatk_out/SRR11539032/final/lib_id.A.txt.gz
./output/mgatk_out/SRR11539032/final/lib_id.coverage.txt.gz
./output/mgatk_out/SRR11539032/final/lib_id.rds
./output/mgatk_out/SRR11539032/final/lib_id.G.txt.gz
./output/mgatk_out/SRR11539032/final/lib_id.T.txt.gz
./output/mgatk_out/SRR11539032/final/lib_id.depthTable.txt
./output/mgatk_out/SRR11539032/final/chrM_refAllele.txt
./output/mgatk_out/SRR11539032/logs/lib_id.snakemake_tenx.log
./output/mgatk_out/SRR11539031/qc/depth/barcodes.3.depth.txt
./output/mgatk_out/SRR11539031/qc/depth/barcodes.1.depth.txt
./output/mgatk_out/SRR11539031/qc/depth/barcodes.4.depth.txt
./output/mgatk_out/SRR11539031/qc/depth/barcodes.5.depth.txt
./output/mgatk_out/SRR11539031/qc/depth/barcodes.2.depth.txt
./output/mgatk_out/SRR11539031/final/lib_id.signac.rds
./output/mgatk_out/SRR11539031/final/lib_id.C.txt.gz
./output/mgatk_out/SRR11539031/final/lib_id.A.txt.gz
./output/mgatk_out/SRR11539031/final/lib_id.coverage.txt.gz
./output/mgatk_out/SRR11539031/final/lib_id.rds
./output/mgatk_out/SRR11539031/final/lib_id.G.txt.gz
./output/mgatk_out/SRR11539031/final/lib_id.T.txt.gz
./output/mgatk_out/SRR11539031/final/lib_id.depthTable.txt
./output/mgatk_out/SRR11539031/final/chrM_refAllele.txt
./output/mgatk_out/SRR11539031/logs/lib_id.snakemake_tenx.log
./log/*.err
./log*.log
